body{
	margin: 0px;
	padding: 0px;
	background-position: center top;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
}
.container{
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
#eye{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 100px;
	color: black;
	position: relative;
	margin: 0px auto;
	background-color: blue;
}
.eye1{
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 100px;
	position: absolute;
	left: 70px;
	bottom: 35px;

}
#eye2{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 100px;
	color: black;
	position: relative;
	margin: 0px auto;
	background-color: blue;
}
#eye3{
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 100px;
	position: absolute;
	left: 70px;
	bottom: 35px;

}
.container_tog{
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-right: 20px;
}
#tongue{
	width: 20px;
	height: 10px;
	background-color: red;
	display: none;
	transition: 1s;
}